<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Editar Paciente</title>
</head>
<body>
    <h1>Editar Paciente</h1>
    <form method="POST">
        <input type="text" name="ci" value="{{ paciente[1] }}">
        <input type="text" name="nombre" value="{{ paciente[2] }}">
        <input type="text" name="apellidos" value="{{ paciente[3] }}">
        <input type="text" name="historial_medico" value="{{ paciente[4] }}">
        <button type="submit">Guardar Cambios</button>
    </form>
</body>
</html>